@charset "UTF-8";
/*会员中心管理*/
.userinfo {
    padding-top: 110px;
}
.userinfo-l {
    width: 23%;
    float: left;
    /*background-color: #C81623;*/
}
.userinfo-l ul li {
    width: 270px;
    height: 44px;
    border: 1px solid #DDDDDD;
    margin-top: -1px;
    font: 400 14px/44px 'Microsoft YaHei';
    padding-left: 10px;
}
.userinfo-l ul li:hover {
    cursor: pointer;
    background-color: #ddd;
    color: white;
}
.userinfo-r {
    width: 76%;
    /*background-color: #8A2Ac6;*/
    float: right;
    margin-left: 3px;
    margin-bottom: 25px;
    border: 1px solid #F7E8CA;
}
/*用户中心*/

/*会员中心 start*/
.title {
    padding-left: 10px;
    float: left;
    height: 40px;
    width: 99%;
    background-color: #FCF8E3;
    font: 400 18px/40px 'Microsoft YaHei';
}
.user-pwd,
.user-comment ,
.user-logininglog,
.user-moviecol {
    display: none;
}
.user-pwd,
.user-logininglog {
    margin-bottom: 280px;
}
.user-center-content,
.user-pwd form {
    padding-left: 10px;
    padding-bottom: 10px;
    width: 100%;
}
.user-center-content label,
.user-pwd label {
    font: 700 14px/40px 'Microsoft YaHei';
    width: 100%;
    height: 40px;
    float: left;
}
.user-center-content input,
.user-pwd input {
    font: 400 14px/40px 'Microsoft YaHei';
    padding-left: 10px;
    height: 40px;
    width: 890px;
    border: 1px solid #CCCCCC;
}
.user-center-content img {
    display: block;
}
.upload,
.user-center-content button,
.user-pwd button {
    display: block;
    margin-top: 12px;
    width: 104px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: white;
    background-color: #337AB7;
    cursor: pointer;
    font-size: 14px;
    font-family: "Microsoft YaHei";
}

.user-center-content button,
.user-pwd button {
    background-color: #5CB85C;
}
.user-center-content button:hover,
.user-pwd button:hover {
    background-color: #25b81f;
}
.upload:hover {
    background-color: #1f8ab7;
    color: white;
}
.user-center-content textarea {
    width: 900px;
    font: 14px 'Microsoft YaHei';
}
/*会员中心 end*/

/*评论记录 start*/
.user-comment {
    float: left;
    width: 100%;
}
.comment-content {
    padding-top: 15px;
    padding-left: 15px;
    float: left;
    width: 97%;
}
.userlogo {
    text-align: center;
    float: left;
    overflow: hidden;
}
.userlogo img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.usercontent {
    margin-bottom: 10px;
    width: 92%;
    float: right;
    border: 1px solid #DEDEDE;
}
.usercontent-title {
    width: 98%;
    height: 35px;
    background-color: #F8F8F8;
    font: 400 14px/35px 'Microsoft YaHei';
    color: #000;
    padding-left: 15px;
    border-bottom: 1px solid #DEDEDE;
}
.usercontent-con {
    height: 50px;
    padding-left: 15px;
    font: 400 14px/50px 'Microsoft YaHei';
    /*background-color: #C81623;*/
    color: #000;
}
/*评论记录 end*/

/*评论分页 start*/
.comments-page {
    float: left;
    width: 100%;
    height: 58px;
    position: relative;
}
.comments-page ul {
    position: absolute;
    margin-left: -172px;
    left: 50%;
}
.comments-page ul li {
    margin-left: -1px;
    float: left;
    font: 400 14px/34px 'Microsoft YaHei';
    height: 34px;
    width: 68px;
    background-color: #FEFEFE;
    border: 1px solid #2fa4e7;
    text-align: center;
}
.comments-page ul li:hover {
    background-color: #CCCCCC;
    cursor: pointer;
}
/*评论分页 end*/

/*登录日志 start*/
.user-logininglog {
    padding-bottom: 15px;
    float: left;
    width: 100%;
}
.table-con {
    float: left;
    margin: 10px;
}
.table-con,
.table-con tr,
.table-con td{
    border: 1px solid #ddd;
    /*边框合并*/
    border-collapse: collapse;
    width: 98%;
    border: 1px solid #DDDDDD;

}
.table-con tr {
    font: 400 15px/37px 'Microsoft YaHei';
    height: 37px;
}
.table-con td {
    width: 32px;
    height: 37px;
}
/*登录日志 end*/

/*收藏电影 start*/
.moviecol-con {
    margin: 15px;
    float: left;
    border: 1px solid #CCCCCC;
    padding-bottom: 5px;
}
.moviecol-con-l {
    margin-left: 5px;
    margin-top: 5px;
    float: left;
    width: 131px;
    height: 83px;
    /*background-color: #00bcd4;*/
    background: url("../images/movie.svg");
}
.moviecol-con-r {
    margin-top: 5px;
    float: right;
    height: 83px;
    width: 82%;
    position: relative;
}
.moviecol-con-title {
    float: left;
    height: 19px;
    font: 18px/19px 'Microsoft YaHei';
    width: 100%;
}
.movie-play {
    width: 87px;
    height: 21px;
    color: white;
    text-align: center;
    background-color: #337AB7;
    font: 400 16px/21px 'Microsoft YaHei';
    float: right;
    margin-right: 5px;
}
.movie-play:hover {
    cursor: pointer;
    background-color: #2d8fb7;
}
.moviecol-con-desc {
    float: left;
    font-size: 14px;
    margin-top: 15px;
}
/*收藏电影 end*/

/*收藏电影分页 start*/
.movies-col-page {
    float: left;
    width: 100%;
    height: 58px;
    position: relative;
}
.movies-col-page ul {
    position: absolute;
    margin-left: -172px;
    left: 50%;
}
.movies-col-page ul li {
    margin-left: -1px;
    float: left;
    font: 400 14px/34px 'Microsoft YaHei';
    height: 34px;
    width: 68px;
    background-color: #FEFEFE;
    border: 1px solid #2fa4e7;
    text-align: center;
}
.movies-col-page ul li:hover {
    background-color: #CCCCCC;
    cursor: pointer;
}
/*收藏电影分页 start*/

/*模态窗口 start*/
.toastWindow {
    width: 100%;
    height: 1200px;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
    display: none;
}
.upload-window {
    padding: 10px;
    width: 554px;
    height: 205px;
    margin-top: 150px;
    margin-left: 28%;
    background-color: #fff;
    border-radius: 5px;
}
.upload-line  {
    border: 1px solid #E4E4E4;
    margin: 10px 0;
}
.upload-title {
    height: 25px;
    font: 400 14px/25px 'Microsoft YaHei';

}
.upload-file-title {
    height: 25px;
    font: 400 14px/25px 'Microsoft YaHei';
}
.upload-info {
    position: relative;
}
.upload-form {
    padding-left: 5px;
    height: 135px;
}
.upload-file {
    margin-top: 15px;
    height: 31px;
    border: 2px solid #8DB1E5;
    width: 98%;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 14px;
    font-family: "Microsoft YaHei";
}
.upload-info button {
    position: absolute;
    width: 80px;
    height: 32px;
    margin-left: 5px;
    background-color: rgba(47, 174, 255, 0.11);
    border-radius: 8px;
    cursor: pointer;
    right: 0px;
    bottom: 5px;
    border: 2px solid #E4E4E4;
}
.upload-info .upload-cancel {
    background-color: #fff;
    right: 100px;
}
.upload-info button:hover {
    background-color: #2FAEFF;
}


/*模态窗口 end*/
