<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我爱科技论坛-VIP视频免费看</title>
    <!-- 页面关键词 keywords -->
    <meta name="keywords" content="VIP视频,VIP影院,我爱科技影院,VIP视频免费看,VIP视频抢先看">
    <!-- 页面描述内容 description -->
    <meta name="description" content="我爱科技论坛VIP影院-看VIP视频，就来找我">
    <!-- 定义网页作者 author -->
    <meta name="author" content="我爱科技论坛, https://github.com/xiugangzhang">
    <link rel="shortcut icon" href="/www/favicon.ico">
    <link rel="stylesheet" href="/www/css/base.css">
    {{{block ("head")}}}
</head>

<body>

    {{{include ("./header")}}}
    {{{block ("body")}}}
    {{{include ("./footer")}}}

    <script src="/www/js/xframe-min-1.0.js" type="text/javascript"></script>
    <script src="/www/js/base.js" type="text/javascript"></script>
    <script>
        console.log('在线演示站点：我爱科技论坛http://www.52tech.tech, Github源码：https://github.com/xiugangzhang');
    </script>
    {{{block ("foot")}}}
</body>
</html>