.search {
    padding-top: 110px;
    padding-bottom: 400px;
    width: 100%;
    height: 38px;
}
.search-bar {
    height: 38px;
    line-height: 38px;
    padding-left: 25px;
    font-family: 'Microsoft YaHei';
    font-size: 14px;
    background-color: #F8F8F8;
}

.site-nav .site-nav-search {
    margin-left: -18px;
    margin-bottom: 13px;
    margin-top: 13px;
}
.site-nav .site-nav-search input {
    width: 557px;
    height: 42px;
    border-radius: 21px 0 0 21px;
    border: 2px solid #FF603C;
    background-color: rgba(0, 0, 0, 0.1);
    padding-left: 20px;
}
/*解决背景色变黄的问题*/
.site-nav .site-nav-search input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
    -webkit-box-shadow: 0 0 0px 1000px white inset
}
.site-nav .site-nav-search button {
    width: 110px;
    height: 46px;
    border-radius: 0 23px 23px 0;
    background-color: #FF603C;
    border-color: #FF603C;
    font: 18px/46px 'Microsoft YaHei';
    color: #F1F1F1;
}
.site-nav .site-nav-search button:hover {
    background-color: #ff8042;
}

.site-nav .site-nav-r {
    display: none;
}

.search-content ul {
    height: 150px;
}
.search-content ul li {
    margin-top: 15px;
}
.search-content-left {
    float: left;
    width: 180px;
    height: 100px;
    background-color: #0A74DA;
}
.search-content-left a {
    display: block;
    width: 180px;
    height: 100px;
}
.search-content-right {
    margin-left: 20px;
    width: 800px;
    float: left;
}
.search-content-title {
    font-size: 18px;
}
.search-con {
    margin-top: 5px;
}
