@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font: 12px/1.5 PingFangSC-Regular,Tahoma,Microsoft Yahei;
}
ul,ol{
    list-style: none;
}
input{
    outline: none;
    border: none;
    vertical-align: top;
}
a{
    text-decoration: none;
    color: #000;
}
img{
    border: 0;
}
/*..................清除浮动*/
.clearFix:after{
    content:'';
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
}
.header{
    width: 100%;
    height: 580px;
}
.header .header-line{
    width: 100%;
    height: 3px;
    background: linear-gradient(to right,#70DF00,#44BFFA);
}

#search{
    display: none;
    background: rgba(255,255,255,.9);
}
#search .searchMiddle{
    border: 2px solid #FF920B;
}
#search .searchUl{
    float: left;
    margin: 25px 0 0 10px;
}
#search .searchUl li{
    float: left;
    margin-left: 10px;
}
#search .searchUl li a{
    font-size: 14px;
}
#search .searchUl li a i{
    display: inline-block;
    vertical-align: -3px;
    margin-right: 4px;
    width: 18px;
    height: 18px;
    background: url("/www/images/top1.png") no-repeat -24px -59px;
}
#search .searchUl li a .i2{
    background-position: -1px -59px;
}



.header .banner{
    position: relative;
    width: 100%;
    height: 580px;
    /*border-top: 3px solid lawngreen;*/
}
.header .banner .bannerImg{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 580px;
}
.header .banner .bannerImg img{
    width: 100%;
    height: 100%;
}
.header .banner .bannerImg img{
    position: absolute;
    left:0;
    top:0;
}
.header .banner .bannerImg img:nth-of-type(1){
    z-index: 1;
}
/*轮播图列表*/
.bannerImg>ul{
    position: absolute;
    right: 64px;
    top:138px;
    width: 272px;
    background: rgba(255,255,255,.9);
    z-index: 3;
    padding-top: 3px;
}
.bannerImg>ul li{
    width:248px;
    height: 31px;
    line-height: 31px;
    padding: 0 10px 0 15px;
}
.bannerImg>ul li:hover{
    background: #FF920B;
}
.show{
    background: #FF920B;
}

.bannerImg>ul li:hover a{
    color: white;
}
.bannerImg>ul li a{
    color: black;
    font-size: 14px;
}

/*。。。。。。。。。。。。。。。。。。。。。。搜索栏*/
.header .banner .search{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 73px;
    /*background: saddlebrown;*/
    z-index: 2;
}
.header .banner .search .searchIn{
    position: relative;
    width: 1240px;
    height: 73px;
    margin: 0 auto;
}
.search .searchIn .video-logo{
    display: flex;
    justify-content: space-between;
    float: left;
    margin-top: 18px;
    cursor: pointer;
    width: 158px;
    height: 36px;
}
.search .searchIn .video-logo img {
    width: 36px;
    height: 36px;
}
.search .searchIn .video-logo .logo-title {
    color: red;
    font-weight: bold;
    padding-left: 6px;
    display: inline-block;
    width: 108px;
}
.searchIn .searchMiddle{
    position: absolute;
    left: 50%;
    margin:15px 0 0 -290px;
    /*float: left;*/
    width: 580px;
    height: 40px;
    /*background: silver;*/
    border-radius: 20px;
    overflow: hidden;
    /*margin-left: 170px;
    margin-top: 15px;*/
}

.searchIn .searchMiddle i{
    display: inline-block;
    width: 35px;
    height: 40px;
    background: rgba(255,255,255,.7);
    position: relative;
}
.searchIn .searchMiddle i:after{
    position: absolute;
    top: 11px;
    left: 12px;
    content: '';
    /*display: inline-block;*/
    width: 19px;
    height: 20px;
    background: url("/www/images/png1.png") no-repeat 0 -20px;

}
.searchIn .searchMiddle input{
    width: 440px;
    height: 40px;
    line-height: 40px;
    background: rgba(255,255,255,.7);
    font-size: 14px;
}
.searchIn .searchMiddle span{
    display: inline-block;
    vertical-align: 13px;
    width: 105px;
    height: 40px;
    line-height: 41px;
    text-align: center;
    background: #FF920B;
    font-size: 18px;
    color: white;
    cursor: pointer;
}
.searchIn .searchMiddle span:hover {
    background: #FF920B;
}
/*。。。。。。。。。。。。注册会员部分*/
.searchIn .searchRight{
    margin-top: 20px;
    float: right;
}
.searchIn .searchRight ul{
    float: left;
}
.searchIn .searchRight ul li{
    margin: 0 9px;
    float: left;
}
.searchIn .searchRight ul li p{
    margin: 0 auto;
    width: 20px;
    height: 20px;
    background: url("/www/images/png1.png") no-repeat 1px 1px;
}
.searchIn .searchRight .logo{
    width: 40px;
    height: 40px;
    display: inline-block;
}
.searchIn .searchRight ul li p.p2{
    background: url("/www/images/png1.png") no-repeat -19px 1px;
}
.searchIn .searchRight ul li p.p3{
    background: url("/www/images/png1.png") no-repeat -38px 1px;
}
.searchIn .searchRight ul li p.p4{
    background: url("/www/images/png1.png") no-repeat -19px 1px;
}
.searchIn .searchRight ul li span a{
    color: #000;
}
.searchIn .searchRight ul li span a:hover{
    color: #fff;
}

.searchIn .searchRight a img{
    position: relative;
    top: -3px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}



/*导航栏*/

/*导航栏*/
.header .nav{
    width: 100%;
    height: 26px;
    /*background: silver;*/
    position: absolute;
    top: 70px;
    z-index: 4;
}
.header .nav .navIn{
    width: 1240px;
    height: 26px;
    margin: 0 auto;
    /*background: salmon;*/
    border-radius: 13px;
    background: rgba(255,255,255,.45);
}
.header .nav .navIn ul{
    margin: 0 13px;
}
.header .nav .navIn ul>li{
    position: relative;
    height: 26px;
    line-height: 26px;
    float: left;
    padding: 0 8px;
}
.header .nav .navIn ul>li>a{
    color: #000;
    font-size: 14px;
}
.header .nav .navIn ul>li>a:hover{
    color: #FF920B;
    cursor: pointer;
}

.header .nav .navIn ul>li.vip a:before,.header .nav .navIn ul>li.down a:before,.header .nav .navIn ul>li.four i{
    position: relative;
    display:inline-block;
    top:2px;
    content: '';
    width: 17px;
    height: 17px;
    background: url("/www/images/png6.png") no-repeat 0 -20px;
    margin-right: 4px;
}
.header .nav .navIn ul>li.vip,.header .nav .navIn ul>li.down,.header .nav .navIn ul>li.four{
    padding:0 5px 0 0;
}
.header .nav .navIn ul>li.down a:before{
    background-position: 0 0;
    top: 3px;
}
.header .nav .navIn ul>li.four i{
    background: url("/www/images/top1.png") no-repeat 0 -60px;
    top:4px;
}
.header .nav .navIn ul>li.four:after{
    display: inline-block;
    content: '';
    width: 1px;
    height: 10px;
    background: #333;
    margin:0 7px;
}

.header .nav .navIn ul>li .navInList{
    display: none;
    position: absolute;
    top: 28px;
    width: 266px;
    border-top: 2px solid #FF920B;
    background: rgba(255,255,255,.9);
}
.header .nav .navIn ul>li .div2{
    left: 50%;
    margin-left: -73px;
}
.header .nav .navIn ul>li .div3{
    left: 50%;
    margin-left: -133px;

}
.header .nav .navIn ul>li .navInList a{
    float: left;
    width: 120px;
    height: 30px;
    padding-left: 13px;
    line-height: 30px;
    font-size: 14px;
    color: #000;
}
.header .nav .navIn ul>li:hover{
    cursor: pointer;
}
.header .nav .navIn ul>li:hover .navInList{
    display: block;
}
.header .nav .navIn ul .navInList a:hover{
    color: #FF920B;
}
.mask{
    position: absolute;
    left: 50%;
    margin-left: -618px;
    bottom: 0;
    z-index: 2;
    width: 1220px;
    height: 100px;
    background: rgba(255,255,255,.75);
    border: 8px solid rgba(255,255,255,.15);
    border-bottom: none;
}


/*主要内容部分*/
.main{
    position: relative;
    width: 1180px;
    /*height: 100px;*/
    margin: 0 auto ;
    margin-top: -97px;
    z-index: 2;
}
.title{
    padding: 20px 0 16px;
}
.title h2{
    float: left;
    font-size: 28px;
}

.title p{
    float: left;
    margin: 15px 0 0 10px;
}
.title p>a{
    color: #666;
    font-size: 14px;
}
.title span{
    float: right;
    margin-top: 19px;
}
.title span>em{
    display: inline-block;
    vertical-align: -5px;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background: url("/www/images/png5.png") no-repeat center;
}
.title span:hover em{
    transform: rotate(-360deg);
    transition: transform .5s;
}
.title span>a{
    font-size: 14px;
    color: #222;
}
.title span:hover a{
    color: #FF920B;
}
.title .titleRight{
    float: right;
    margin-top: 20px;
}
.title .titleRight ul li{
    float: left;
    margin-left: 26px;
}
.title .titleRight ul li a{
    position: relative;
    font-size: 14px;
}
.title .titleRight ul li a:hover{
    color: #FF920B;
}
.title .titleRight ul li .a2:before{
    position: absolute;
    left: -15px;
    top: 7px;
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #afafaf;
}
.title .titleRight ul li .a4:after{
    position: absolute;
    left: 50px;
    top: 3px;
    content: '';
    width: 1px;
    height: 12px;
    background: #afafaf;
}
.title .titleRight ul li a img{
    display: inline-block;
    vertical-align:bottom;
    width: 68px;
    height: 34px;
    margin-right: 10px;
}
.title .titleRight ul .li5{
    position: relative;
    margin-top: -14px;
}


.list{
    height: 360px;
}
.list .left{
    position: relative;
    float: left;
    width: 460px;
    height: 360px;
    margin-right: 10px;
}
.list .left a{
    border: none;
    display: block;
    width: 460px;
    height: 360px;
    background: url("/www/images/default1.gif") no-repeat  center;
}
.list .left a>img{
    width: 100%;
    height: 100%;
}
.list .left>div{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 8px 10px 5px;
}
.list .left>div strong{
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}
.list .left>div p{
    font-size: 14px;
    line-height: 20px;
    color: #ccc;
}
.list .right{
    float: left;
}
.list .right li{
    position: relative;
    float: left;
    width: 220px;
    margin: 0 10px;
}
.list .right li>i{
    position: absolute;
    top: 4px;
    right: 4px;
}
.list .right li>a{
    position: relative;
    display: block;
    width: 220px;
    height: 123px;
    background: url("/www/images/default.gif") no-repeat center;
}

.list .right li>a>img{
    width: 220px;
    height: 123px;
}
.list .right li>p{
    color: #222;
    font-size: 14px;
    line-height: 20px;
    margin-top: 3px;
}
.list .right li>p:hover{
    color: #ff920b;
    cursor: pointer;
}
.list .right li>span{
    display: block;
    font-size: 12px;
    line-height: 20px;
    margin-top: 3px;
    color: #999;
    white-space: nowrap; /*不换行*/
    overflow: hidden;  /*内容超出宽度时隐藏超出的内容*/
    text-overflow: ellipsis;  /*当对象内文本溢出时显示省略标记(...)*/
}
.list .right li>span:hover{
    color: #666;
}
.list .right li.li3{
    margin-right: 0px;
}
.list .right-b{
    margin-top: 17px;
}
/*独家精选部分*/
.alone .alone-list li{
    float: left;
}
.alone .list .right .li1{
    margin-left: 0;
}
.alone .alone-list li>a>img{
    width: 220px;
    height: 123px;
}

.list .right li a em{
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 14px;
    color: #fff;
    padding: 8px 10px 10px;
}
.alone .list{
    height: 100%;
}

/*原创精选*/
.origin .originList{
    margin-left: 15px;
    margin-top: 12px;
    float: left;
}
.origin .originList li{
    width: 100px;
    height: 28px;
    line-height: 28px;
    float: left;
    background: #e7e7e7;
    padding-left: 2px;
    border-radius: 13px;
    margin-right: 20px;
}
.origin .originList li.originListLi6{
    width: 63px;
}
.origin .originList li img{
    border-radius: 50%;
    width: 22px;
    height: 22px;
    vertical-align: -6px;
}
.origin .originList li a{
    display: inline-block;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    color: #222;
}
.origin .originList li:hover{
    background: #ff920b;
}
.origin .originList li:hover a{
    color: #fff;
}

/*五张图片的区域*/
.fivePhoto{
    margin-top: 20px;
}
.fivePhoto ul li{
    float: left;
    width: 236px;
    height: 100px;
    background: url("/www/images/default.gif") no-repeat center;
}
.fivePhoto ul li a img{
    width: 100%;
    height: 100%;
}
/*电影大片部分*/
.list .moveBig li{
    margin-bottom: 20px;
}
.list .moveBig li>a{
    width: 220px;
    height: 308px;
}
.list .moveBig li>a img{
    width: 100%;
    height: 100%;
}
.list .moveBig li p{
    text-align: center;
}

/*返回顶部*/
.top{
    position: fixed;
    z-index: 2;
    bottom: 20px;
    right: 20px;
}
.top .toTop p{
    width: 54px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    background: #e7e7e7;
    border-radius: 50%;
    margin-top: 10px;
}
.top .toTop p i{
    display:inline-block;
    width: 30px;
    height: 26px;
    margin-top: 15px;
    background: url("/www/images/top1.png") no-repeat ;
}
.top .toTop p:hover i{
    background-position:  -33px 1px;
}
.top .toTop p .i2{
    background-position: 0 -26px;
}
.top .toTop p:hover .i2{
    background-position:  -33px -25px;
}
.top .toTop span{
    display: block;
    text-align: center;
    color: #999;
}
.top .toTop p:hover{
    background:#FF920B;
}
.top .toTop span:hover{
    color: #FF920B;

}
.top .toTopX{
    display: none;
}

/*footer部分*/
.footer{
    width: 100%;
    height: 244px;
    padding-top: 25px;
    background-color: #eee;
    margin-top: 30px;
}
.footer .footUp{
    width: 1150px;
    height: 74px;
    padding:20px 20px 20px 70px;
    margin: 0px auto;
}
.footer .footUp ul li{
    float: left;
    padding-right: 40px;
    border-right: 1px solid #E1E1E1;
    margin-right: 40px;
    height: 74px;
}
.footer .footUp ul li.li1{
    width: 320px;

}
.footer .footUp ul li p{
    color: #979797;
    font-size: 14px;
    padding-bottom: 5px;
}
.footer .footUp ul li a{
    display: inline-block;
    color: #595959;
    margin:6px 20px 0 0;
}
.footer .footUp ul li a:hover{
    cursor: pointer;
    color: #FF920B;
}
.footer .footUp ul li.li2{
    width:160px;
}
.footer .footUp ul li.li3{
    width: 245px;
}
.footer .footUp ul li.li4{
    margin-right: 0;
    border-right: 0;
    width: 140px;
}
.footer .footDown{
    margin: 15px 0;
}
.footer .footDown ul li{
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: #838383;
}
.footer .footDown ul li a{
    color: #838383;
}
.footer .footDown ul li a:hover{
    color: #FF920B;
}













